#Specific {
  margin: 3em;
  margin-bottom: 11em;
  margin-top: 6.5em;
}

#Specific .title {
  margin-left: 10px;
  font-size: 1.7em;
  font-weight: bold;
}

#Specific .detailBar {
  height: 0.03em;
  background-color: gray;
}

#Specific .button {
  float: right;
  margin-right: 0.6em;
  margin-top: 0.5em;
  background-color: white;
  border: 0px;
  cursor: pointer;
}

#Specific .userImage {
  margin: 2em;
  max-width: 500px;
  /* height: 300px; */
}

#Specific .imageContainer,
#Specific .weather {
  text-align: center;
  font-weight: bold;
}

#Specific .createdAt {
  margin-top: 3em;
  float: right;
  color: gray;
}

#Specific .content {
  margin-left: 3.4em;
  display: inline-block;
  width: 90%;
}
