@import  '../../../node_modules/react-selectize/themes/index.css';

body {
  width: 100%;
  height:100%;
  margin:0;
}

/* .specific {
  margin: 30px;
} */

/* 
.bubble {
  position: relative;
  left: 45%
} */

#Newarticlemodal .form {
  margin: 20px;
}

#TagList{
  margin-left: 100px;
  float: left;
}

#Diary .show {
  margin: 5px;
}

/* #Diary .newbtn {
  float: center;
} */

#Diary .btns {
  margin-left: 400px
}

#Specificdiary {
  width: 100%;
  height: 100%;
  float: left;
}

#Specificdiary .card-body {
  padding: 10px;
  height: 8em;
}

#Specificdiary .card-text {
  width: 100%;
  white-space: normal;
}

#DiaryList {
  border-top: 1px gray solid;
  padding: 15px;
  float: left;
  overflow-x: auto;
  width: 75em;
  height: 17em
}

#DiaryList .diarybtn {
  float: left;
  width: 10em;
  height: 13em;
  border: 3px; 
  margin: 4px;
  padding: 2px,
}

#DiaryList .weather {
  float: right;
  margin-right: 50px
}
